main {
  height: 100%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 8fr 4fr;
    margin: 1rem 7.1875rem;
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1rem 5.1875rem;
    gap: 1rem;
  }
}

